In [345]:
import pandas as pd
from sklearn import preprocessing

In [346]:
train_df_original = pd.read_csv("../data/train.csv", index_col=0)
train_df_original["test_id"] = train_df_original.index
train_df_original

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,sales,test_id
id,,,,,,,,,,,,
1,2021-07-29,Москва,1,1,1,4.79,"переменная облачность, небольшой дождь",61.9375,23.1875,741.0000,26,1
2,2021-07-30,Москва,1,1,1,4.79,"переменная облачность, небольшой дождь",70.2500,22.1875,740.3125,37,2
3,2021-07-31,Москва,1,1,1,4.79,переменная облачность,52.6250,21.8125,741.6250,25,3
4,2021-08-01,Москва,1,1,1,4.79,"облачно, небольшой дождь",87.4375,20.0625,743.3125,26,4
5,2021-08-02,Москва,1,1,1,4.79,переменная облачность,66.1875,23.4375,739.6250,22,5
...,...,...,...,...,...,...,...,...,...,...,...,...
666672,2022-02-09,Воронеж,164,1,35,2.48,"облачно, небольшой снег",89.1250,-4.3125,744.6875,11,666672
666673,2022-02-10,Воронеж,164,1,35,2.48,"облачно, небольшие осадки",92.5625,-0.9375,746.3125,17,666673
666674,2022-02-11,Воронеж,164,1,35,2.48,осадки,99.6875,-0.3125,745.3125,2,666674
666675,2022-02-12,Воронеж,164,1,35,2.48,"переменная облачность, небольшие осадки",91.8750,-2.2500,749.9375,7,666675
666676,2022-02-13,Воронеж,164,1,35,2.48,переменная облачность,85.9375,-4.8750,755.3125,18,666676

In [347]:
test_df_original = pd.read_csv("../test_sources/test.csv", index_col=0)
sample_result_df_original = pd.read_csv("../test_sources/sample_submission.csv", index_col=0)
test_df_original["sales"] = sample_result_df_original["prediction"]
test_df_original["test_id"] = test_df_original.index
test_df_original

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,sales,test_id
id,,,,,,,,,,,,
666677,2022-02-14,Москва,1,1,1,4.79,облачно,87.3125,-1.9375,749.3125,22.0,666677
666678,2022-02-15,Москва,1,1,1,4.79,переменная облачность,88.7500,-1.2500,752.6875,27.0,666678
666679,2022-02-16,Москва,1,1,1,4.79,переменная облачность,90.3750,-1.5625,746.3125,26.0,666679
666680,2022-02-17,Москва,1,1,1,4.79,"облачно, небольшой дождь",98.0000,1.7500,732.6875,24.0,666680
666681,2022-02-18,Москва,1,1,1,4.79,"облачно, небольшие осадки",95.5000,1.3750,733.0000,42.0,666681
...,...,...,...,...,...,...,...,...,...,...,...,...
691508,2022-02-16,Воронеж,164,1,35,2.48,переменная облачность,91.8125,-2.5625,751.0000,11.0,691508
691509,2022-02-17,Воронеж,164,1,35,2.48,"облачно, небольшой дождь",93.5000,2.0625,740.0000,17.0,691509
691510,2022-02-18,Воронеж,164,1,35,2.48,облачно,96.5625,2.0625,736.0000,2.0,691510
691511,2022-02-19,Воронеж,164,1,35,2.48,переменная облачность,89.9375,2.7500,743.0000,7.0,691511
691512,2022-02-20,Воронеж,164,1,35,2.48,переменная облачность,76.2500,3.4375,742.3750,18.0,691512

In [348]:
train_df = train_df_original.copy()
#train_df = train_df.iloc[69*3:]
train_df["type"] = "train"
test_df = test_df_original.copy()
test_df["type"] = "test"
df = pd.concat([train_df, test_df])
le = preprocessing.LabelEncoder()
df['city_name'] = le.fit_transform(df['city_name'])
df['weather_desc'] = le.fit_transform(df['weather_desc'])
df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,sales,test_id,type
id,,,,,,,,,,,,,
1,2021-07-29,5,1,1,1,4.79,12,61.9375,23.1875,741.0000,26.0,1,train
2,2021-07-30,5,1,1,1,4.79,12,70.2500,22.1875,740.3125,37.0,2,train
3,2021-07-31,5,1,1,1,4.79,9,52.6250,21.8125,741.6250,25.0,3,train
4,2021-08-01,5,1,1,1,4.79,6,87.4375,20.0625,743.3125,26.0,4,train
5,2021-08-02,5,1,1,1,4.79,9,66.1875,23.4375,739.6250,22.0,5,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
691508,2022-02-16,1,164,1,35,2.48,9,91.8125,-2.5625,751.0000,11.0,691508,test
691509,2022-02-17,1,164,1,35,2.48,6,93.5000,2.0625,740.0000,17.0,691509,test
691510,2022-02-18,1,164,1,35,2.48,3,96.5625,2.0625,736.0000,2.0,691510,test
691511,2022-02-19,1,164,1,35,2.48,9,89.9375,2.7500,743.0000,7.0,691511,test
691512,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,18.0,691512,test

In [349]:
df['date'] = pd.to_datetime(df['date'])
df['weekday'] = df.date.dt.weekday
df['weekend'] = df['weekday'].isin([5, 6]).astype(int)
df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,sales,test_id,type,weekday,weekend
id,,,,,,,,,,,,,,,
1,2021-07-29,5,1,1,1,4.79,12,61.9375,23.1875,741.0000,26.0,1,train,3,0
2,2021-07-30,5,1,1,1,4.79,12,70.2500,22.1875,740.3125,37.0,2,train,4,0
3,2021-07-31,5,1,1,1,4.79,9,52.6250,21.8125,741.6250,25.0,3,train,5,1
4,2021-08-01,5,1,1,1,4.79,6,87.4375,20.0625,743.3125,26.0,4,train,6,1
5,2021-08-02,5,1,1,1,4.79,9,66.1875,23.4375,739.6250,22.0,5,train,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691508,2022-02-16,1,164,1,35,2.48,9,91.8125,-2.5625,751.0000,11.0,691508,test,2,0
691509,2022-02-17,1,164,1,35,2.48,6,93.5000,2.0625,740.0000,17.0,691509,test,3,0
691510,2022-02-18,1,164,1,35,2.48,3,96.5625,2.0625,736.0000,2.0,691510,test,4,0
691511,2022-02-19,1,164,1,35,2.48,9,89.9375,2.7500,743.0000,7.0,691511,test,5,1
691512,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,18.0,691512,test,6,1

In [350]:
import numpy as np
df = df.sort_values(['store_id', 'product_id', 'date']).reset_index(drop=True)
group = df.groupby(['store_id', 'product_id'])
for i in range(7, 29):
    df[f'lag_day_{i}'] = group['sales'].shift(i)
    df.loc[(np.isnan(df[f'lag_day_{i}'])) & (df['type'] == "train"), f'lag_day_{i}'] = df[(np.isnan(df[f'lag_day_{i}'])) & (df['type'] == "train")]['sales']
df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,...,lag_day_19,lag_day_20,lag_day_21,lag_day_22,lag_day_23,lag_day_24,lag_day_25,lag_day_26,lag_day_27,lag_day_28
0,2021-07-29,5,1,1,1,4.79,12,61.9375,23.1875,741.0000,...,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0
1,2021-07-30,5,1,1,1,4.79,12,70.2500,22.1875,740.3125,...,37.0,37.0,37.0,37.0,37.0,37.0,37.0,37.0,37.0,37.0
2,2021-07-31,5,1,1,1,4.79,9,52.6250,21.8125,741.6250,...,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0
3,2021-08-01,5,1,1,1,4.79,6,87.4375,20.0625,743.3125,...,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0
4,2021-08-02,5,1,1,1,4.79,9,66.1875,23.4375,739.6250,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691507,2022-02-16,1,164,1,35,2.48,9,91.8125,-2.5625,751.0000,...,12.0,19.0,5.0,3.0,9.0,9.0,11.0,27.0,7.0,18.0
691508,2022-02-17,1,164,1,35,2.48,6,93.5000,2.0625,740.0000,...,17.0,12.0,19.0,5.0,3.0,9.0,9.0,11.0,27.0,7.0
691509,2022-02-18,1,164,1,35,2.48,3,96.5625,2.0625,736.0000,...,7.0,17.0,12.0,19.0,5.0,3.0,9.0,9.0,11.0,27.0
691510,2022-02-19,1,164,1,35,2.48,9,89.9375,2.7500,743.0000,...,18.0,7.0,17.0,12.0,19.0,5.0,3.0,9.0,9.0,11.0
691511,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,...,11.0,18.0,7.0,17.0,12.0,19.0,5.0,3.0,9.0,9.0

In [351]:
weights = np.array([0.7, 0.3])
df['2_weeks_mean'] = np.sum(df[['lag_day_7', 'lag_day_14']] * weights, axis=1)
df['3_weeks_mean'] = np.sum(df[['lag_day_7', 'lag_day_14', "lag_day_21"]] * np.array([0.8, 0.3, 0.1]), axis=1)
df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,...,lag_day_21,lag_day_22,lag_day_23,lag_day_24,lag_day_25,lag_day_26,lag_day_27,lag_day_28,2_weeks_mean,3_weeks_mean
0,2021-07-29,5,1,1,1,4.79,12,61.9375,23.1875,741.0000,...,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,31.2
1,2021-07-30,5,1,1,1,4.79,12,70.2500,22.1875,740.3125,...,37.0,37.0,37.0,37.0,37.0,37.0,37.0,37.0,37.0,44.4
2,2021-07-31,5,1,1,1,4.79,9,52.6250,21.8125,741.6250,...,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,30.0
3,2021-08-01,5,1,1,1,4.79,6,87.4375,20.0625,743.3125,...,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,31.2
4,2021-08-02,5,1,1,1,4.79,9,66.1875,23.4375,739.6250,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,26.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691507,2022-02-16,1,164,1,35,2.48,9,91.8125,-2.5625,751.0000,...,5.0,3.0,9.0,9.0,11.0,27.0,7.0,18.0,12.5,14.1
691508,2022-02-17,1,164,1,35,2.48,6,93.5000,2.0625,740.0000,...,19.0,5.0,3.0,9.0,9.0,11.0,27.0,7.0,17.6,21.2
691509,2022-02-18,1,164,1,35,2.48,3,96.5625,2.0625,736.0000,...,12.0,19.0,5.0,3.0,9.0,9.0,11.0,27.0,4.7,6.1
691510,2022-02-19,1,164,1,35,2.48,9,89.9375,2.7500,743.0000,...,17.0,12.0,19.0,5.0,3.0,9.0,9.0,11.0,7.3,9.7
691511,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,...,7.0,17.0,12.0,19.0,5.0,3.0,9.0,9.0,18.3,20.8

In [352]:
tmp = df.groupby(['city_name', 'date'])['lag_day_7'].sum().reset_index()
tmp.rename(columns={'lag_day_7': 'orders_sum'}, inplace=True)
df = df.merge(tmp, on=['city_name', 'date'], how='left')
df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,...,lag_day_22,lag_day_23,lag_day_24,lag_day_25,lag_day_26,lag_day_27,lag_day_28,2_weeks_mean,3_weeks_mean,orders_sum
0,2021-07-29,5,1,1,1,4.79,12,61.9375,23.1875,741.0000,...,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,31.2,11437.0
1,2021-07-30,5,1,1,1,4.79,12,70.2500,22.1875,740.3125,...,37.0,37.0,37.0,37.0,37.0,37.0,37.0,37.0,44.4,13918.0
2,2021-07-31,5,1,1,1,4.79,9,52.6250,21.8125,741.6250,...,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,30.0,13253.0
3,2021-08-01,5,1,1,1,4.79,6,87.4375,20.0625,743.3125,...,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,31.2,12014.0
4,2021-08-02,5,1,1,1,4.79,9,66.1875,23.4375,739.6250,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,26.4,9700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691507,2022-02-16,1,164,1,35,2.48,9,91.8125,-2.5625,751.0000,...,3.0,9.0,9.0,11.0,27.0,7.0,18.0,12.5,14.1,2393.0
691508,2022-02-17,1,164,1,35,2.48,6,93.5000,2.0625,740.0000,...,5.0,3.0,9.0,9.0,11.0,27.0,7.0,17.6,21.2,2561.0
691509,2022-02-18,1,164,1,35,2.48,3,96.5625,2.0625,736.0000,...,19.0,5.0,3.0,9.0,9.0,11.0,27.0,4.7,6.1,3419.0
691510,2022-02-19,1,164,1,35,2.48,9,89.9375,2.7500,743.0000,...,12.0,19.0,5.0,3.0,9.0,9.0,11.0,7.3,9.7,3849.0
691511,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,...,17.0,12.0,19.0,5.0,3.0,9.0,9.0,18.3,20.8,3610.0

In [353]:
# Предобработка категориальных фичей, используем one-hot encoding
df = pd.concat((df, pd.get_dummies(df.weekday, prefix='wd')), axis=1)
#df = pd.concat((df, pd.get_dummies(df.city_name, prefix='ci')), axis=1)
#df = pd.concat((df, pd.get_dummies(df.weather_desc, prefix='we')), axis=1)
df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,...,2_weeks_mean,3_weeks_mean,orders_sum,wd_0,wd_1,wd_2,wd_3,wd_4,wd_5,wd_6
0,2021-07-29,5,1,1,1,4.79,12,61.9375,23.1875,741.0000,...,26.0,31.2,11437.0,0,0,0,1,0,0,0
1,2021-07-30,5,1,1,1,4.79,12,70.2500,22.1875,740.3125,...,37.0,44.4,13918.0,0,0,0,0,1,0,0
2,2021-07-31,5,1,1,1,4.79,9,52.6250,21.8125,741.6250,...,25.0,30.0,13253.0,0,0,0,0,0,1,0
3,2021-08-01,5,1,1,1,4.79,6,87.4375,20.0625,743.3125,...,26.0,31.2,12014.0,0,0,0,0,0,0,1
4,2021-08-02,5,1,1,1,4.79,9,66.1875,23.4375,739.6250,...,22.0,26.4,9700.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691507,2022-02-16,1,164,1,35,2.48,9,91.8125,-2.5625,751.0000,...,12.5,14.1,2393.0,0,0,1,0,0,0,0
691508,2022-02-17,1,164,1,35,2.48,6,93.5000,2.0625,740.0000,...,17.6,21.2,2561.0,0,0,0,1,0,0,0
691509,2022-02-18,1,164,1,35,2.48,3,96.5625,2.0625,736.0000,...,4.7,6.1,3419.0,0,0,0,0,1,0,0
691510,2022-02-19,1,164,1,35,2.48,9,89.9375,2.7500,743.0000,...,7.3,9.7,3849.0,0,0,0,0,0,1,0
691511,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,...,18.3,20.8,3610.0,0,0,0,0,0,0,1

In [354]:
train_df = df[df['type'] == 'train'].copy().dropna().reset_index(drop=True)
test_df = df[df['type'] == 'test'].copy().reset_index(drop=True)
train_df = train_df.sort_values(['date', 'store_id', "product_id"]).reset_index(drop=True)
test_df = test_df.sort_values(['date', 'store_id', "product_id"]).reset_index(drop=True)

In [355]:
test_df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,...,2_weeks_mean,3_weeks_mean,orders_sum,wd_0,wd_1,wd_2,wd_3,wd_4,wd_5,wd_6
0,2022-02-14,5,1,1,1,4.79,3,87.3125,-1.9375,749.3125,...,21.4,27.2,13118.0,1,0,0,0,0,0,0
1,2022-02-14,5,1,2,2,7.78,3,87.3125,-1.9375,749.3125,...,12.5,16.1,13118.0,1,0,0,0,0,0,0
2,2022-02-14,5,1,1,4,8.15,3,87.3125,-1.9375,749.3125,...,6.5,8.2,13118.0,1,0,0,0,0,0,0
3,2022-02-14,5,1,2,5,11.25,3,87.3125,-1.9375,749.3125,...,14.1,17.3,13118.0,1,0,0,0,0,0,0
4,2022-02-14,5,1,2,7,12.15,3,87.3125,-1.9375,749.3125,...,5.0,6.1,13118.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24831,2022-02-20,1,164,1,29,6.02,9,76.2500,3.4375,742.3750,...,1.6,1.7,3610.0,0,0,0,0,0,0,1
24832,2022-02-20,1,164,1,30,2.49,9,76.2500,3.4375,742.3750,...,18.5,22.1,3610.0,0,0,0,0,0,0,1
24833,2022-02-20,1,164,1,33,3.00,9,76.2500,3.4375,742.3750,...,3.0,3.5,3610.0,0,0,0,0,0,0,1
24834,2022-02-20,1,164,1,34,3.80,9,76.2500,3.4375,742.3750,...,4.9,5.8,3610.0,0,0,0,0,0,0,1
24835,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,...,18.3,20.8,3610.0,0,0,0,0,0,0,1

In [356]:
train_df

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,...,2_weeks_mean,3_weeks_mean,orders_sum,wd_0,wd_1,wd_2,wd_3,wd_4,wd_5,wd_6
0,2021-07-29,5,1,1,1,4.79,12,61.9375,23.1875,741.0000,...,26.0,31.2,11437.0,0,0,0,1,0,0,0
1,2021-07-29,5,1,2,2,7.78,12,61.9375,23.1875,741.0000,...,8.0,9.6,11437.0,0,0,0,1,0,0,0
2,2021-07-29,5,1,1,4,8.15,12,61.9375,23.1875,741.0000,...,14.0,16.8,11437.0,0,0,0,1,0,0,0
3,2021-07-29,5,1,2,5,11.25,12,61.9375,23.1875,741.0000,...,25.0,30.0,11437.0,0,0,0,1,0,0,0
4,2021-07-29,5,1,1,8,2.39,12,61.9375,23.1875,741.0000,...,29.0,34.8,11437.0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666671,2022-02-13,1,164,1,29,6.02,9,85.9375,-4.8750,755.3125,...,2.1,3.0,3508.0,0,0,0,0,0,0,1
666672,2022-02-13,1,164,1,30,2.49,9,85.9375,-4.8750,755.3125,...,21.1,26.6,3508.0,0,0,0,0,0,0,1
666673,2022-02-13,1,164,1,33,3.00,9,85.9375,-4.8750,755.3125,...,2.7,3.4,3508.0,0,0,0,0,0,0,1
666674,2022-02-13,1,164,1,34,3.80,9,85.9375,-4.8750,755.3125,...,6.4,7.4,3508.0,0,0,0,0,0,0,1
666675,2022-02-13,1,164,1,35,2.48,9,85.9375,-4.8750,755.3125,...,15.4,18.2,3508.0,0,0,0,0,0,0,1

In [357]:
from sklearn.preprocessing import StandardScaler

In [358]:
list(train_df.columns)

['date',
 'city_name',
 'store_id',
 'category_id',
 'product_id',
 'price',
 'weather_desc',
 'humidity',
 'temperature',
 'pressure',
 'sales',
 'test_id',
 'type',
 'weekday',
 'weekend',
 'lag_day_7',
 'lag_day_8',
 'lag_day_9',
 'lag_day_10',
 'lag_day_11',
 'lag_day_12',
 'lag_day_13',
 'lag_day_14',
 'lag_day_15',
 'lag_day_16',
 'lag_day_17',
 'lag_day_18',
 'lag_day_19',
 'lag_day_20',
 'lag_day_21',
 'lag_day_22',
 'lag_day_23',
 'lag_day_24',
 'lag_day_25',
 'lag_day_26',
 'lag_day_27',
 'lag_day_28',
 '2_weeks_mean',
 '3_weeks_mean',
 'orders_sum',
 'wd_0',
 'wd_1',
 'wd_2',
 'wd_3',
 'wd_4',
 'wd_5',
 'wd_6']

In [359]:
# числовые фичи
num_features = ['lag_day_7', 'lag_day_8', 'lag_day_9', 'lag_day_10','lag_day_11', 'lag_day_12',
                'lag_day_13', 'lag_day_14', 'lag_day_15', 'lag_day_16', 'lag_day_17', 'lag_day_18','lag_day_19', 'lag_day_20',
                'lag_day_21', 'lag_day_22', 'lag_day_23', 'lag_day_24', "lag_day_25", 'lag_day_26', 'lag_day_27', 'lag_day_28', "2_weeks_mean", "3_weeks_mean", 'orders_sum', "pressure", "temperature", "humidity", "price"]
# категориальные фичи
cat_features = ['weekend', "weekday", "category_id", 'wd_0',
 'wd_1',
 'wd_2',
 'wd_3',
 'wd_4',
 'wd_5',
 'wd_6',
 "weather_desc", "product_id", "store_id", "city_name"]

# таргеты
y_train = train_df.sales
y_test = test_df.sales

# категориальные фичи
X_train_cat = train_df[cat_features].values
X_test_cat = test_df[cat_features].values

# скалируем числовые фичи
X_train_num = train_df[num_features].copy()
X_test_num = test_df[num_features].copy()
scaler = StandardScaler()
X_train_num = scaler.fit_transform(X_train_num)
X_test_num = scaler.transform(X_test_num)

# итоговые датасеты для обучения
X_train = np.hstack((X_train_cat, X_train_num))
X_test = np.hstack((X_test_cat, X_test_num))

In [360]:
X_test

array([[ 0.        ,  0.        ,  1.        , ..., -0.58679867,
         0.63972043, -0.07796756],
       [ 0.        ,  0.        ,  2.        , ..., -0.58679867,
         0.63972043,  0.80613518],
       [ 0.        ,  0.        ,  1.        , ..., -0.58679867,
         0.63972043,  0.9155392 ],
       ...,
       [ 1.        ,  6.        ,  1.        , ..., -0.12507206,
         0.09619816, -0.60724646],
       [ 1.        ,  6.        ,  1.        , ..., -0.12507206,
         0.09619816, -0.37069723],
       [ 1.        ,  6.        ,  1.        , ..., -0.12507206,
         0.09619816, -0.76100346]])

In [361]:
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

In [362]:
models = []
models.append(('LR', LinearRegression()))
#models.append(('SVR', SVR()))
results = []
model_names = []
for name, model in models:
    # TimeSeries Cross validation
    tscv = TimeSeriesSplit(n_splits=4)
    cv_results = cross_val_score(model, X_train, y_train, cv=tscv, scoring='r2')
    results.append(cv_results)
    model_names.append(name)
    print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

LR: 0.810129 (0.026461)

In [363]:
model = LinearRegression()
model.fit(X_train, y_train)

forecast = model.predict(X_test)
test_df['forecast_lr'] = forecast
test_df

# Обучаем SVR
#model = SVR()
#model.fit(X_train, y_train)
#forecast = model.predict(X_test)
#test_df['forecast_svr'] = forecast

,date,city_name,store_id,category_id,product_id,price,weather_desc,humidity,temperature,pressure,...,3_weeks_mean,orders_sum,wd_0,wd_1,wd_2,wd_3,wd_4,wd_5,wd_6,forecast_lr
0,2022-02-14,5,1,1,1,4.79,3,87.3125,-1.9375,749.3125,...,27.2,13118.0,1,0,0,0,0,0,0,26.888458
1,2022-02-14,5,1,2,2,7.78,3,87.3125,-1.9375,749.3125,...,16.1,13118.0,1,0,0,0,0,0,0,15.585396
2,2022-02-14,5,1,1,4,8.15,3,87.3125,-1.9375,749.3125,...,8.2,13118.0,1,0,0,0,0,0,0,10.429759
3,2022-02-14,5,1,2,5,11.25,3,87.3125,-1.9375,749.3125,...,17.3,13118.0,1,0,0,0,0,0,0,16.610662
4,2022-02-14,5,1,2,7,12.15,3,87.3125,-1.9375,749.3125,...,6.1,13118.0,1,0,0,0,0,0,0,6.185910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24831,2022-02-20,1,164,1,29,6.02,9,76.2500,3.4375,742.3750,...,1.7,3610.0,0,0,0,0,0,0,1,3.547469
24832,2022-02-20,1,164,1,30,2.49,9,76.2500,3.4375,742.3750,...,22.1,3610.0,0,0,0,0,0,0,1,21.387309
24833,2022-02-20,1,164,1,33,3.00,9,76.2500,3.4375,742.3750,...,3.5,3610.0,0,0,0,0,0,0,1,3.912667
24834,2022-02-20,1,164,1,34,3.80,9,76.2500,3.4375,742.3750,...,5.8,3610.0,0,0,0,0,0,0,1,6.797950
24835,2022-02-20,1,164,1,35,2.48,9,76.2500,3.4375,742.3750,...,20.8,3610.0,0,0,0,0,0,0,1,14.067371

In [364]:
test_df[np.isnan(test_df['forecast_lr'])]

Empty DataFrame
Columns: [date, city_name, store_id, category_id, product_id, price, weather_desc, humidity, temperature, pressure, sales, test_id, type, weekday, weekend, lag_day_7, lag_day_8, lag_day_9, lag_day_10, lag_day_11, lag_day_12, lag_day_13, lag_day_14, lag_day_15, lag_day_16, lag_day_17, lag_day_18, lag_day_19, lag_day_20, lag_day_21, lag_day_22, lag_day_23, lag_day_24, lag_day_25, lag_day_26, lag_day_27, lag_day_28, 2_weeks_mean, 3_weeks_mean, orders_sum, wd_0, wd_1, wd_2, wd_3, wd_4, wd_5, wd_6, forecast_lr]
Index: []

[0 rows x 48 columns]

In [365]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

def metric_mape(y_valid: list, val_pred: list) -> float:
    """
    Calculate MAPE metric

    :param y_valid: list, real values
    :param val_pred: list, predicted values
    :return: float, MAPE metric
    """
    y_valid = np.array(y_valid).reshape(-1)
    val_pred = np.array(val_pred)
    return np.sum(np.abs(y_valid - val_pred)) / np.sum(y_valid) * 100

def calculate_metrics(df: pd.DataFrame,
                      forecast_name='forecast') -> (float, float, float,
                                                    float, float, float):
    """
    Calculate metrics

    :param df: pd.DataFrame, result dataframe
    :return:
    """
    y_true = df.sales
    y_pr = df[forecast_name]
    y_naive = df.lag_day_7

    mae = mean_absolute_error(y_true, y_pr)
    mse = mean_squared_error(y_true, y_pr)
    mae_naive = mean_absolute_error(y_true, y_naive)

    mape = metric_mape(y_true, y_pr)

    mase = mae / mae_naive

    print(f"MAE: {mae:.2f}\n"
          f"MSE: {mse:.2f}\n"
          f"MAPE: {mape:.2f} %\n"
          f"MASE: {mase:.2f}\n")


calculate_metrics(test_df, forecast_name='forecast_lr')

MAE: 3.30
MSE: 28.89
MAPE: 25.23 %
MASE: inf

/var/folders/w4/k5sf3slx0nx6x2vsbb6kf86w0000gn/T/ipykernel_87527/3510924087.py:34: RuntimeWarning: divide by zero encountered in double_scalars
  mase = mae / mae_naive

In [366]:
#calculate_metrics(test_df, forecast_name='forecast_svr')

In [367]:
result = test_df[['forecast_lr', "test_id"]].copy().reset_index(drop=True)
result.columns = ["prediction", "id"]
result.index = result["id"]
del result["id"]
result.index.name = "id"
result

        prediction
id
666677   26.888458
666684   15.585396
666691   10.429759
666698   16.610662
666705    6.185910
...            ...
691484    3.547469
691491   21.387309
691498    3.912667
691505    6.797950
691512   14.067371

[24836 rows x 1 columns]

In [368]:
result.to_csv("../results/prediction.csv")